.Service {
  text-align: center;
  color: white;
  background-color: black;
  padding-top: 2px;
  font-weight: 800;
  font-size: x-large;
}

.NavEnd {
  font-weight: 700;
  color: white;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
